.about-us {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../../img/about-us-small.png"),
    linear-gradient(12deg, #ffffff 19%, #f3e5ff 40%, #ffd3e6 65%, #ffffff 89%);
  background-position: 50% 15%;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.about-us__text {
  font-size: 14px;
  line-height: 19px;
}

.about-us__text--highlighted {
  color: $blue;
}

.about-us__text-header {
  width: 300px;
  margin-bottom: 8px;
  color: $main-black;
  font-size: 26px;
  line-height: 33px;
  word-break: break-word;
}

.about-us__header {
  margin-bottom: 344px;
  color: $main-black;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.about-us__reservetion-button {
  width: 322px;
  height: 48px;
}

.about-us__scroll-panel {
  margin-bottom: 24px;
}

.about-us__text-head {
  margin-bottom: 16px;
}

.about-us__text-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 180px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .about-us {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("../../img/about-us-medium.png"),
      linear-gradient(
        17deg,
        #ffd3e6 0%,
        #ffffff 14%,
        #f0e4ff 36%,
        #ffd3e6 62%,
        #ffffff 77%
      );

    background-position: 50% 22%;
    background-color: #ffd3e6;
  }
  .about-us__header {
    margin-bottom: 568px;
    font-size: 36px;
    line-height: 40px;
  }

  .about-us__text {
    font-size: 18px;
    line-height: 24px;
  }

  .about-us__text-header {
    width: 550px;
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 40px;
  }

  .about-us__text-head {
    margin-bottom: 24px;
  }

  .about-us__reservetion-button {
    width: 247px;
    height: 56px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    display: flex;
    flex-direction: row;
    min-height: 800px;
    padding-right: 153px;
    background-image: url("../../img/about-us-big.png"),
      linear-gradient(
        17deg,
        #ffd3e6 0%,
        #ffffff 14%,
        #ffffff 57%,
        #dabbff 89%,
        #ffd3e6 100%
      );

    background-position: 4% 87%;
    background-color: #ffd3e6;
    background-color: #ffd3e6;
  }

  .about-us__header {
    width: 628px;
    margin-bottom: 0;
  }

  .about-us__text-body {
    width: 463px;
  }

  .about-us__text-body .about-us__text {
    margin-bottom: 16px;
  }

  .about-us__wrapper {
    width: 550px;
    padding-top: 107px;
  }
}
