.advantages {
  padding-top: 40px;
  padding-bottom: 40px;
}

.advantages__header {
  margin-bottom: 29px;

  font-size: 18px;
  font-weight: 500;
  line-height: 23px;

  color: $main-black;
}

.advantages__card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .advantages__header {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__card-wrapper {
    justify-content: space-between;
    width: 1260px;
  }
}
