.feedback {
  padding-top: 40px;
  padding-bottom: 40px;
}

.feedback__header {
  margin-bottom: 8px;
  color: $main-black;
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  word-break: break-word;
}

.feedback__text {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 19px;
}

@media (min-width: $tablet-width) {
  .feedback {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .feedback__header {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 40px;
  }

  .feedback__text {
    width: 465px;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    background-image: url("../img/feedback-background.png");
    background-position: 90% 30%;
    background-repeat: no-repeat;
  }
  .feedback__content-wrapper {
    width: 480px;
  }
}
