.main-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-nav__items-wrapper {
  display: none;
}

.main-nav__toggle {
  width: 32px;
  height: 32px;
  background-image: url("../img/icon-sandwich.svg");
  background-position: 50% 43%;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.3;
  }
}

.main-nav__opened .main-nav__toggle {
  background-image: url("../img/icon-cross.svg");
}

.main-nav__opened .main-nav__items-wrapper {
  display: block;
  padding-top: 15px;
}

.main-nav__btn {
  padding: 0;
  border: 0;
  background-color: transparent;

  cursor: pointer;
}

.main-nav__btn-text {
  font-size: 36px;
  &:hover {
    color: $main-gray;
  }
}

.main-nav__btn-text--active {
  color: $blue;
}

.main-nav__site-list {
  padding-bottom: 270px;
}

@media (min-width: $tablet-width) {
  .main-nav__btn-text {
    font-size: 56px;
    line-height: 70px;
  }

  .main-nav__site-list {
    padding-bottom: 156px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    min-width: 890px;
  }

  .main-nav__items-wrapper {
    display: flex;
    flex-direction: row;

    padding: 0;
    margin-right: 16px;
  }

  .main-nav__opened .main-nav__items-wrapper {
    display: flex;
    align-items: center;

    padding: 0;
  }

  .main-nav__btn-text {
    font-size: 18px;
    line-height: 24px;
  }

  .main-nav__site-list {
    padding-bottom: 0;
    margin-right: 97px;
  }
}
