.page-header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-header__logo {
  display: inline-block;
  margin-left: 48px;
}

.page-header__nav-toggle {
  position: absolute;
  left: 8px;
  top: 14px;
}

.page-header__user-list {
  position: absolute;
  left: 300px;
  top: 12px;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 27px;
  }

  .page-header__logo {
    width: 97px;
    height: 24px;
    margin-left: 60px;
  }

  .page-header__logo img {
    width: 100%;
    height: 100%;
  }

  .page-header__nav-toggle {
    top: 24px;
    left: 45px;
  }

  .page-header__user-list {
    left: 444px;
    top: 16px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    justify-content: space-between;

    padding-top: 16px;
    padding-bottom: 16px;
  }

  .page-header__nav-toggle {
    display: none;
  }

  .page-header__logo {
    margin-top: 10px;
    margin-left: 0;
  }

  .page-header__user-list {
    position: relative;
    top: 0;
    left: 0;
  }
}
