.possibilities-list__text {
  width: 229px;
  font-size: 14px;
  line-height: 19px;
}

.possibilities-list__item {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin-bottom: 16px;
}

.possibilities-list__icon {
  fill: none;
  margin-right: 16px;
}

@media (min-width: $tablet-width) {
  .possibilities-list__text {
    font-size: 18px;
    line-height: 24px;
  }

  .possibilities-list__icon {
    width: 32px;
    height: 32px;
  }
}
