.scroll-panel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 304px;
}

.scroll-panel__link {
  position: relative;

  color: $main-white;
}

.scroll-panel__link--current {
  color: $blue;
}

.scroll-panel__link--with-line {
  &::before {
    position: absolute;
    top: 8px;
    left: -24px;

    content: "";

    width: 16px;
    height: 0;

    border: 0.5px solid $main-white;
    border-radius: 20px;
  }
}

@media (min-width: $tablet-width) {
  .scroll-panel {
    width: 422px;
  }

  .scroll-panel__link {
    margin-right: 15px;
  }

  .scroll-panel__link--with-line {
    &::before {
      top: 10px;
      left: -36px;

      width: 24px;
    }
  }
}
