.user-list__icon-login {
  width: 40px;
  height: 40px;
}

@media (max-width: $tablet-width - 1px) {
  .user-list__login {
    background-color: transparent;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .user-list__text-login {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .user-list__icon-login {
    display: none;
  }

  .user-list__login {
    width: 220px;
    height: 48px;
  }
}
