@font-face {
  font-weight: normal;
  font-family: "Visuelt Pro";
  font-style: normal;
  src: url("../fonts/VisueltPro-Regular.woff2") format("woff2"),
    url("../fonts/VisueltPro-Regular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Visuelt Pro";
  font-style: normal;
  src: url("../fonts/VisueltPro-Bold.woff2") format("woff2"),
    url("../fonts/VisueltPro-Bold.woff") format("woff");
}
