.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $blue;
  border-radius: 16px;
  border-color: transparent;

  font-size: 14px;
  line-height: 19px;

  color: $main-white;

  &:hover {
    background-color: $blue-sky;
  }
  &:active {
    background-color: $blue-light;
  }
}

.main-btn__text {
  color: $main-white;
  display: inline;
}

.main-btn--white {
  background-color: $main-white;
  color: $blue;

  &:hover {
    background-color: $white-dark;
  }
  &:active {
    color: $blue-sky;
  }
}

.text-field {
  padding-left: 16px;
  padding-right: 140px;

  border-radius: 16px;
  border-color: transparent;
  background-color: $white-dark;
  box-shadow: -2px 4px 20px rgba(25, 25, 25, 0.025);
  outline: none;

  font-family: "Visuelt Pro";
  font-size: 14px;
  line-height: 19px;

  color: $main-gray;
}

.text-field--gray-light {
  background-color: $gray-light;
}

@media (min-width: $tablet-width) {
  .main-btn {
    font-size: 18px;
    line-height: 24px;
  }

  .text-field {
    font-size: 18px;
    line-height: 24px;
  }
}
